<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Python Workspace Sync</title>
        <!-- CSS Templates -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>
        <!-- Template html goes here -->
        <p>Here</p>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>